Repository glob-gall/plataforma-investimento, pull requests merged in 2023-04, with the labels that each got.

#29 Feat/18/rota cadastro
  plataforma-back/pinvestback/settings.py
  plataforma-back/pinvestback/urls.py
  plataforma-back/requirements.pip
  plataforma-back/usuarios/__init__.py
  plataforma-back/usuarios/admin.py
  plataforma-back/usuarios/apps.py
  plataforma-back/usuarios/migrations/0001_initial.py
  plataforma-back/usuarios/migrations/0002_usuario_birth.py
  plataforma-back/usuarios/migrations/__init__.py
  plataforma-back/usuarios/models.py
  plataforma-back/usuarios/serializers.py
  plataforma-back/usuarios/tests.py
  plataforma-back/usuarios/urls.py
  plataforma-back/usuarios/views.py
  plataforma-front/src/templates/dashboard/dashboard.template.tsx
Labels: BACK

#39 feat: added header component main structure
  plataforma-back/pinvestback/settings.py
  plataforma-front/src/components/organisms/drawers/MainDrawer/MainDrawer.component.tsx
  plataforma-front/src/components/organisms/headers/MainHeader/MainHeader.component.tsx
Labels: FRONT

#48 fix: tela cadastro
  plataforma-front/src/templates/register/register.container.tsx
  plataforma-front/src/templates/register/register.template.tsx
Labels: FRONT

#45 Confirmação de email funcionando
  .vscode/launch.json
  plataforma-back/.env.examle
  plataforma-back/pinvestback/settings.py
  plataforma-back/usuarios/migrations/0003_usuario_is_email_verified.py
  plataforma-back/usuarios/migrations/0004_remove_usuario_is_email_verified.py
  plataforma-back/usuarios/migrations/0005_usuario_is_email_virified.py
  plataforma-back/usuarios/migrations/0006_rename_is_email_virified_usuario_is_email_verified.py
  plataforma-back/usuarios/migrations/0007_usuario_token_confirmacao.py
  plataforma-back/usuarios/migrations/0008_token.py
  plataforma-back/usuarios/migrations/0009_remove_usuario_token_confirmacao.py
  plataforma-back/usuarios/models.py
  plataforma-back/usuarios/urls.py
  plataforma-back/usuarios/utilsEmail.py
  plataforma-back/usuarios/views.py
  plataforma-front/yarn.lock
Labels: BACK

#60 Feat/25/validacao email
  .github/workflows/frontend-test.yaml
  plataforma-back/usuarios/views.py
  plataforma-front/.env
  plataforma-front/.eslintrc.json
  plataforma-front/package.json
  plataforma-front/src/components/organisms/headers/MainHeader/MainHeader.component.tsx
  plataforma-front/src/constants/constants.ts
  plataforma-front/src/contexts/auth/auth.context.tsx
  plataforma-front/src/contexts/auth/auth.reducer.ts
  plataforma-front/src/contexts/auth/auth.types.ts
  plataforma-front/src/contexts/context.composer.tsx
  plataforma-front/src/contexts/context.types.ts
  plataforma-front/src/hocs/withAuthSSR.tsx
  plataforma-front/src/hooks/auth/use-auth.hook.ts
  plataforma-front/src/pages/_app.tsx
  plataforma-front/src/pages/index.tsx
  plataforma-front/src/pages/login/index.tsx
  plataforma-front/src/services/user/user.service.ts
  plataforma-front/src/templates/login/components/confirm-email/confirm-email.component.tsx
  plataforma-front/src/templates/login/components/login-form/login-form.component.tsx
  plataforma-front/src/templates/login/components/login-form/login-form.types.ts
  plataforma-front/src/templates/login/login.container.tsx
  plataforma-front/src/templates/login/login.template.tsx
  plataforma-front/src/templates/register/register.container.tsx
  plataforma-front/yarn.lock
Labels: FRONT, BACK
